In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('elspeth_data.csv')

In [3]:
df.head()

,Unnamed: 0,person,date_of_report,ref,name_of_deceased,coroner_name,coroner_area,category,filename,text,url
0,0,malyun-karama-2020-0162_redacted,Date of report: 21 August 2020,2020-0162,Malyun Karama,NaN,NaN,Category: Hospital death (Clinical procedure a...,Malyun-Karama-2020-0162_Redacted.pdf,\n\n \n\n \n1 \n\n \n2 \n\n \n3 \n\n \n4 \n\n...,https://www.judiciary.uk/prevention-of-future-...
1,1,theresa-robertson-2020-0158_redacted,Date of report: 6 August 2020,2020-0158,Theresa Robertson,NaN,NaN,"Category: Alcohol, drug and medication related...",Theresa-Robertson-2020-0158_Redacted.pdf,Regulation 28: Prevention of Future Deaths re...,https://www.judiciary.uk/prevention-of-future-...
2,2,george-townsend-2020-0157_redacted,Date of report: 4 June 2020,2020-0157,George Townsend,NaN,NaN,"Category: Community healthcare related deaths,...",George-Townsend-2020-0157_Redacted.pdf,REGULATION 28: REPORT TO PREVENT FUTURE DEATH...,https://www.judiciary.uk/prevention-of-future-...
3,3,jerrelle-mckenzie-2020-0144_redacted,Date of report: 17 July 2020,2020-0144,Jerrelle McKenzie,NaN,NaN,"Category: Alcohol, drug and medication related...",Jerrelle-McKenzie-2020-0144_Redacted.pdf,47812-2019 \n\nSenior Coroner - Emma Whitting ...,https://www.judiciary.uk/prevention-of-future-...
4,4,joan-williams-2020-0128_redacted,Date of report: 16 June 2020,2020-0128,Joan Williams,NaN,NaN,Category: Road (Highways Safety) related deaths,Joan-Williams-2020-0128_Redacted.pdf,48060-2019\n\nSenior Coroner - Emma Whitting\n...,https://www.judiciary.uk/prevention-of-future-...

In [5]:
len(df)

11976

In [6]:
df.name_of_deceased.nunique()

5374

In [7]:
df.name_of_deceased.unique()

array(['Malyun Karama', 'Theresa Robertson', 'George Townsend', ...,
       'Susan Williams', 'Keith Weston', 'Barbara Mitchell'], dtype=object)

In [63]:
df2 = pd.DataFrame(df.name_of_deceased.unique()).reset_index()

In [64]:
df2.columns = ['jam','name']

In [23]:
df2['name'].to_csv('names_for_elspeth.csv', index=False)

In [ ]:
# ok but do we need to klean the kolumn of names karl?

In [26]:
df[df.name_of_deceased.isnull()] # are there any nulls?

,Unnamed: 0,person,date_of_report,ref,name_of_deceased,coroner_name,coroner_area,category,filename,text,url
122,122,marsden-2014-0373,Date of report: 14 August 2014,2014-0373,NaN,NaN,NaN,Category: Hospital (clinical procedures and me...,Marsden-2014-0373.pdf,REGULATION 28: REPORT TO PREVENT FUTURE DEATHS...,NaN
172,172,2015-0223-response-by-oxfordshire-county-council,NaN,2015-0223,NaN,NaN,NaN,NaN,2015-0223-Response-by-Oxfordshire-County-Counc...,OXFORDSHIRE\nCOUNTY COUNCIL\n\nDate: 16 April ...,https://www.judiciary.uk/prevention-of-future-...
260,260,avon-fire-pfd-response,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,Avon-Fire-PFD-response.pdf,\n\nTuesday 29 March 2016\n\nDr Harrowing\nC...,NaN
261,261,d-mccorkle-response,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,D-McCorkle-Response.pdf,\n\nga NOV 2016\n\n \n\nLewisham\nClinical ...,NaN
262,262,d-mostari-response,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,D-Mostari-Response.pdf,\n\nGh\n\nKempston Road\n\nBedford\n\nMK42 9D...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11599,11599,wilfred-fitchett-jevon-hirst-hugo-morris-and-h...,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,Wilfred-Fitchett-Jevon-Hirst-Hugo-Morris-and-H...,Kate Robertson\nSenior Coroner for North West ...,NaN
11662,11662,joseph-abbess-and-sunnah-khan-prevention-of-fu...,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,Joseph-Abbess-and-Sunnah-Khan-Prevention-of-Fu...,REGULATION 28: REPORT TO PREVENT FUTURE DEATH...,NaN
11663,11663,2024-0538-response-from-department-for-education,NaN,2024-0538,NaN,NaN,NaN,NaN,2024-0538-Response-from-Department-for-Educati...,\n\n \n\nMinister for School Standards \n\nDe...,NaN
11890,11890,2024-0158-response-from-west-yorkshire-icb,NaN,2024-0158,NaN,NaN,NaN,NaN,2024-0158-Response-from-West-Yorkshire-ICB.pdf,\n\n \n\n \n\nWhite Rose House \nWest Para...,NaN
11940,11940,2023-0066-response-from-monmouthshire-county-c...,NaN,2023-0066,NaN,NaN,NaN,NaN,2023-0066-Response-from-Monmouthshire-County-C...,\n\nMonmouthshire County Coun...,NaN

In [37]:
df[df.person.str.contains('fitchett')] # maybe doesn't matter

,Unnamed: 0,person,date_of_report,ref,name_of_deceased,coroner_name,coroner_area,category,filename,text,url
11598,11598,wilfred-fitchett-jevon-hirst-hugo-morris-and-h...,Date of report: 17/10/2024,2024-0560,"Wilfred Fitchett, Jevon Hirst, Hugo Morris and...",Coroners name: Kate Robertson,Coroners Area: North West Wales,Category: Road (Highways Safety) related death...,Wilfred-Fitchett-Jevon-Hirst-Hugo-Morris-and-H...,Kate Robertson\nSenior Coroner for North West ...,https://www.judiciary.uk/prevention-of-future-...
11599,11599,wilfred-fitchett-jevon-hirst-hugo-morris-and-h...,NaN,https://www.judiciary.uk/prevention-of-future-...,NaN,NaN,NaN,NaN,Wilfred-Fitchett-Jevon-Hirst-Hugo-Morris-and-H...,Kate Robertson\nSenior Coroner for North West ...,NaN

In [38]:
df2.name.str.contains('Wilfred').value_counts()

False    5370
True        4
Name: name, dtype: int64

In [41]:
df2[df2.name.str.contains('Fitchett', na=False)] # doesn't matter but highlights another problem

       jam                                               name
5346  5346  Wilfred Fitchett, Jevon Hirst, Hugo Morris and...

In [70]:
# handling pfds where multiple people are named, lets unstack them and match to ethnicity and decide what to do later
# so we want a new row for each name where there are multiple name
# lets try splitting by ','

df2['name'] = df2['name'].str.split(',') # Split by comma

df2 = df2.explode('name') # Explode to get one name per row

df2['name'] = df2['name'].str.strip()# Strip whitespace

In [71]:
df2[df2.name.str.contains('Fitchett', na=False)]

       jam              name  n_of_words
5346  5346  Wilfred Fitchett           9

In [72]:
# progress. most names should be firstname secondname.that's two words. are any names not?

df2.name.astype(str).apply(lambda x: len(x.split())).value_counts() # yup, only 5193 of our names are composed of two words

2     5193
3      122
5       53
4       24
7       10
1        5
6        3
26       2
24       2
8        1
28       1
32       1
19       1
29       1
11       1
22       1
30       1
61       1
Name: name, dtype: int64

In [73]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))

In [74]:
df2[df2.n_of_words > 2] # cool, sometimes we list multiple people using a ',' and sometimes an 'and'

       jam                                  name  n_of_words
101    101       Yvonne Davies and Andrew Davies           5
137    137                      Grace Mary Bates           3
139    139                  John Gwynfryn Morris           3
140    140                      Elsie May Treece           3
142    142                    Isabella Hope Hill           3
...    ...                                   ...         ...
5281  5281  Oscar Barker and Yousef Al-Kharboush           5
5312  5312                   Janet Brown Townend           3
5315  5315                George Kyriacos Petrou           3
5318  5318              Sebastian ‘Benji’ Oliver           3
5346  5346           Hugo Morris and Harvey Owen           5

[225 rows x 3 columns]

In [75]:
df2['name'] = df2['name'].str.split(' and ') # Split by and
df2 = df2.explode('name') # Explode to get one name per row
df2['name'] = df2['name'].str.strip()# Strip whitespace

In [76]:
df2[df2.n_of_words > 2] # wtf. how is yvonne davies 5 words, oh it's cos we failed to update our count

       jam                      name  n_of_words
101    101             Yvonne Davies           5
101    101             Andrew Davies           5
137    137          Grace Mary Bates           3
139    139      John Gwynfryn Morris           3
140    140          Elsie May Treece           3
...    ...                       ...         ...
5312  5312       Janet Brown Townend           3
5315  5315    George Kyriacos Petrou           3
5318  5318  Sebastian ‘Benji’ Oliver           3
5346  5346               Hugo Morris           5
5346  5346               Harvey Owen           5

[307 rows x 3 columns]

In [77]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))
df2[df2.n_of_words > 2]  # cool, sometimes we list multiple people using a ',' and sometimes an '&'

       jam                        name  n_of_words
137    137            Grace Mary Bates           3
139    139        John Gwynfryn Morris           3
140    140            Elsie May Treece           3
142    142          Isabella Hope Hill           3
143    143  Philippine de Gerin-Ricard           3
...    ...                         ...         ...
5241  5241            Mnayea Al Basman           3
5266  5266    Muhammad & Naemat Esmael           4
5312  5312         Janet Brown Townend           3
5315  5315      George Kyriacos Petrou           3
5318  5318    Sebastian ‘Benji’ Oliver           3

[183 rows x 3 columns]

In [81]:
df2['name'] = df2['name'].str.split(' & ') # Split by &
df2 = df2.explode('name') # Explode to get one name per row
df2['name'] = df2['name'].str.strip()# Strip whitespace

In [82]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))
df2[df2.n_of_words > 2]  # looks alrite

       jam                        name  n_of_words
137    137            Grace Mary Bates           3
139    139        John Gwynfryn Morris           3
140    140            Elsie May Treece           3
142    142          Isabella Hope Hill           3
143    143  Philippine de Gerin-Ricard           3
...    ...                         ...         ...
5232  5232     Luke Albiston O’Donnell           3
5241  5241            Mnayea Al Basman           3
5312  5312         Janet Brown Townend           3
5315  5315      George Kyriacos Petrou           3
5318  5318    Sebastian ‘Benji’ Oliver           3

[182 rows x 3 columns]

In [84]:
df2[df2.n_of_words > 3] # ok 'Deceased names' can get in the bin &&  cool, sometimes we list multiple people using a ',' and sometimes an '&' and sometimes ;

       jam                                               name  n_of_words
288    288                     Deceased names: Rebecca Dobson           4
432    432                               Edna Elsie Mary Eden           4
434    434                           Billy Paul Thomas Salton           4
576    576                      Deceased names: Richard Dyson           4
799    799                 Deceased names: Alexandru Murgeanu           4
830    830                      Deceased names: Dane Chinnery           4
846    846                     Deceased names: Samantha Gould           4
982    982                      Garrett Joseph Franklin Elsey           4
1091  1091                      Deceased names: Zainab Hashim           4
1429  1429                               Marco Lima De Araujo           4
1507  1507                      Deceased names: Kevin Branton           4
1659  1659                             Sadie Ann Jane McGrady           4
1757  1757                       Borough Market Terror Attack           4
2031  2031                        Peter Patrick Adrian Barnes           4
2206  2206                          Yvonne Sydney Annie Perry           4
2272  2272                  Deceased names: Kishorkumar Patel           4
2526  2526                       Damion Stanley Joseph Henson           4
2549  2549  Kurt Cochran; Leslie Rhodes; Aysha Frade; Andr...          11
3087  3087                            Lucy Hannah Rose Bailey           4
3283  3283                        Damion Anthony Andre Martin           4
3286  3286                       Derek Edward Bartlett Twivey           4
3308  3308                       Deceased names: Saskia Jones           4
3571  3571                         Keward Guy Domonic Harding           4
3575  3575                         Deceased names: Riley Holt           4
3578  3578                  Deceased names: Marshall Metcalfe           4
3735  3735        Reginald CautheryCoroner name: Sarah Bourke           5
3914  3914                     Deceased names: Michael Draper           4
4011  4011                    Deceased names: Daphne Holloway           4
4036  4036                    Deceased names: Anthony Walgate           4
4055  4055                    Deceased names: William Doleman           4
4232  4232                            Elizabeth Van Der Drift           4
4780  4780  Madeleine LawrenceCoroner name: Peter Harrowin...          11
4780  4780  medical management) related deathsThis report ...          17
4867  4867  Eclipse MorrisonCoroner name: Linda LeeCoroner...          16
4867  4867  medical management) related deathsThis report ...          18
4867  4867  Social Care  | The Royal College of Midwives |...          14
4867  4867  Gynaecologists | The National Institute for He...           7
4868  4868  Marcel WochnaCoroner name: Jason PeggCoroner A...           7
4868  4868  SouthamptonCategory: Child Death (from 2015)  ...          15
4868  4868                         Isle of Wight Constubulary           4
4937  4937  Michael AmesburyCoroner name: Alison MutchCoro...          12
4937  4937  medical management) related deathsThis report ...          13
4938  4938  Sylvia PollittCoroner name: Alison MutchCorone...          19
4939  4939  Bernhard MarekCoroner name: Alison MutchCorone...          22
4939  4939   Social Care | Greater Manchester Integrated Care           7
4940  4940  Thelma RadmoreCoroner name: Alison MutchCorone...          12
4940  4940  medical management) related deathsThis report ...          12
4941  4941  Christine DickinsonCoroner name: Chris MorrisC...          12
4941  4941  medical management) related deathsThis report ...          13
4942  4942  Evelyn DuttonCoroner name: Alison MutchCoroner...          12
4942  4942  medical management) related deathsThis report ...          11
4943  4943  Carole McQuinnCoroner name: Catherine CundyCor...           8
4943  4943  YorkCategory: Hospital Death (Clinical Procedures           5
4943  4943  medical management) related deathsThis report ...          12
4943  4943                          York Hospital Legal trust           4
4944  4944  Colin GreenwayCoroner name: Yvonne BlakeCorone...          11
4944  4944  medical management) related deathsThis report ...          12

In [88]:
df2.name = df2.name.str.replace('Deceased names:','')

In [85]:
df2['name'] = df2['name'].str.split(';') # Split by ;
df2 = df2.explode('name') # Explode to get one name per row
df2['name'] = df2['name'].str.strip()# Strip whitespace

In [89]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))
df2[df2.n_of_words > 3] # I don't know why the coroner pollues some of these, can lose

       jam                                               name  n_of_words
432    432                               Edna Elsie Mary Eden           4
434    434                           Billy Paul Thomas Salton           4
982    982                      Garrett Joseph Franklin Elsey           4
1429  1429                               Marco Lima De Araujo           4
1659  1659                             Sadie Ann Jane McGrady           4
1757  1757                       Borough Market Terror Attack           4
2031  2031                        Peter Patrick Adrian Barnes           4
2206  2206                          Yvonne Sydney Annie Perry           4
2526  2526                       Damion Stanley Joseph Henson           4
3087  3087                            Lucy Hannah Rose Bailey           4
3283  3283                        Damion Anthony Andre Martin           4
3286  3286                       Derek Edward Bartlett Twivey           4
3571  3571                         Keward Guy Domonic Harding           4
3735  3735        Reginald CautheryCoroner name: Sarah Bourke           5
4232  4232                            Elizabeth Van Der Drift           4
4780  4780  Madeleine LawrenceCoroner name: Peter Harrowin...          11
4780  4780  medical management) related deathsThis report ...          17
4867  4867  Eclipse MorrisonCoroner name: Linda LeeCoroner...          16
4867  4867  medical management) related deathsThis report ...          18
4867  4867  Social Care  | The Royal College of Midwives |...          14
4867  4867  Gynaecologists | The National Institute for He...           7
4868  4868  Marcel WochnaCoroner name: Jason PeggCoroner A...           7
4868  4868  SouthamptonCategory: Child Death (from 2015)  ...          15
4868  4868                         Isle of Wight Constubulary           4
4937  4937  Michael AmesburyCoroner name: Alison MutchCoro...          12
4937  4937  medical management) related deathsThis report ...          13
4938  4938  Sylvia PollittCoroner name: Alison MutchCorone...          19
4939  4939  Bernhard MarekCoroner name: Alison MutchCorone...          22
4939  4939   Social Care | Greater Manchester Integrated Care           7
4940  4940  Thelma RadmoreCoroner name: Alison MutchCorone...          12
4940  4940  medical management) related deathsThis report ...          12
4941  4941  Christine DickinsonCoroner name: Chris MorrisC...          12
4941  4941  medical management) related deathsThis report ...          13
4942  4942  Evelyn DuttonCoroner name: Alison MutchCoroner...          12
4942  4942  medical management) related deathsThis report ...          11
4943  4943  Carole McQuinnCoroner name: Catherine CundyCor...           8
4943  4943  YorkCategory: Hospital Death (Clinical Procedures           5
4943  4943  medical management) related deathsThis report ...          12
4943  4943                          York Hospital Legal trust           4
4944  4944  Colin GreenwayCoroner name: Yvonne BlakeCorone...          11
4944  4944  medical management) related deathsThis report ...          12

In [92]:
df2.name = df2.name.str.replace(r'Coroner name:.*', '', regex=True)

In [98]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))
df2[df2.n_of_words > 3] # I don't know why the coroner pollues some of these, can lose

       jam                                               name  n_of_words
432    432                               Edna Elsie Mary Eden           4
434    434                           Billy Paul Thomas Salton           4
982    982                      Garrett Joseph Franklin Elsey           4
1429  1429                               Marco Lima De Araujo           4
1659  1659                             Sadie Ann Jane McGrady           4
1757  1757                       Borough Market Terror Attack           4
2031  2031                        Peter Patrick Adrian Barnes           4
2206  2206                          Yvonne Sydney Annie Perry           4
2526  2526                       Damion Stanley Joseph Henson           4
3087  3087                            Lucy Hannah Rose Bailey           4
3283  3283                        Damion Anthony Andre Martin           4
3286  3286                       Derek Edward Bartlett Twivey           4
3571  3571                         Keward Guy Domonic Harding           4
4232  4232                            Elizabeth Van Der Drift           4
4780  4780  medical management) related deathsThis report ...          17
4867  4867  medical management) related deathsThis report ...          18
4867  4867  Social Care  | The Royal College of Midwives |...          14
4867  4867  Gynaecologists | The National Institute for He...           7
4868  4868  SouthamptonCategory: Child Death (from 2015)  ...          15
4868  4868                         Isle of Wight Constubulary           4
4937  4937  medical management) related deathsThis report ...          13
4939  4939   Social Care | Greater Manchester Integrated Care           7
4940  4940  medical management) related deathsThis report ...          12
4941  4941  medical management) related deathsThis report ...          13
4942  4942  medical management) related deathsThis report ...          11
4943  4943  YorkCategory: Hospital Death (Clinical Procedures           5
4943  4943  medical management) related deathsThis report ...          12
4943  4943                          York Hospital Legal trust           4
4944  4944  medical management) related deathsThis report ...          12

In [99]:
df2['n_of_words'] = df2.name.astype(str).apply(lambda x: len(x.split()))

In [101]:
df2.n_of_words.value_counts() # how we doing.. how do 10 people only have 1 name?

2     5349
3      126
4       16
1       10
12       3
7        2
13       2
15       1
11       1
18       1
14       1
17       1
5        1
Name: n_of_words, dtype: int64

In [102]:
df2[df2.n_of_words == 1] # *sigh*

       jam         name  n_of_words
122    122          NaN           1
2980  2980     REDACTED           1
3495  3495   [REDACTED]           1
3518  3518  KennethDaly           1
4245  4245         Emma           1
4245  4245      Ellette           1
4868  4868   Portsmouth           1
4993  4993        Bryan           1
5233  5233  Champagauri           1
5266  5266     Muhammad           1

In [109]:
df2[df2.n_of_words == 4]

       jam                           name  n_of_words
432    432           Edna Elsie Mary Eden           4
434    434       Billy Paul Thomas Salton           4
982    982  Garrett Joseph Franklin Elsey           4
1429  1429           Marco Lima De Araujo           4
1659  1659         Sadie Ann Jane McGrady           4
1757  1757   Borough Market Terror Attack           4
2031  2031    Peter Patrick Adrian Barnes           4
2206  2206      Yvonne Sydney Annie Perry           4
2526  2526   Damion Stanley Joseph Henson           4
3087  3087        Lucy Hannah Rose Bailey           4
3283  3283    Damion Anthony Andre Martin           4
3286  3286   Derek Edward Bartlett Twivey           4
3571  3571     Keward Guy Domonic Harding           4
4232  4232        Elizabeth Van Der Drift           4
4868  4868     Isle of Wight Constubulary           4
4943  4943      York Hospital Legal trust           4

In [110]:
# bored of data cleaning
df2.to_csv('somewhat_cleaner_datas_for_elspeth.csv', index=False)

In [118]:
# might be helpful for you to understand / see how pandas is representing the datas
df.head()

,Unnamed: 0,person,date_of_report,ref,name_of_deceased,coroner_name,coroner_area,category,filename,text,url
0,0,malyun-karama-2020-0162_redacted,Date of report: 21 August 2020,2020-0162,Malyun Karama,NaN,NaN,Category: Hospital death (Clinical procedure a...,Malyun-Karama-2020-0162_Redacted.pdf,\n\n \n\n \n1 \n\n \n2 \n\n \n3 \n\n \n4 \n\n...,https://www.judiciary.uk/prevention-of-future-...
1,1,theresa-robertson-2020-0158_redacted,Date of report: 6 August 2020,2020-0158,Theresa Robertson,NaN,NaN,"Category: Alcohol, drug and medication related...",Theresa-Robertson-2020-0158_Redacted.pdf,Regulation 28: Prevention of Future Deaths re...,https://www.judiciary.uk/prevention-of-future-...
2,2,george-townsend-2020-0157_redacted,Date of report: 4 June 2020,2020-0157,George Townsend,NaN,NaN,"Category: Community healthcare related deaths,...",George-Townsend-2020-0157_Redacted.pdf,REGULATION 28: REPORT TO PREVENT FUTURE DEATH...,https://www.judiciary.uk/prevention-of-future-...
3,3,jerrelle-mckenzie-2020-0144_redacted,Date of report: 17 July 2020,2020-0144,Jerrelle McKenzie,NaN,NaN,"Category: Alcohol, drug and medication related...",Jerrelle-McKenzie-2020-0144_Redacted.pdf,47812-2019 \n\nSenior Coroner - Emma Whitting ...,https://www.judiciary.uk/prevention-of-future-...
4,4,joan-williams-2020-0128_redacted,Date of report: 16 June 2020,2020-0128,Joan Williams,NaN,NaN,Category: Road (Highways Safety) related deaths,Joan-Williams-2020-0128_Redacted.pdf,48060-2019\n\nSenior Coroner - Emma Whitting\n...,https://www.judiciary.uk/prevention-of-future-...

In [119]:
df.text.values[0] #e.g if wanted to inspect value of text field in first row

' \n\n \n\n \n1 \n\n \n2 \n\n \n3 \n\n \n4 \n\nRegulation 28:  Prevention of Future Deaths report \n \nMalyun Habib KARAMA (died 20.02.20) \n \n\n \nTHIS REPORT IS BEING SENT TO: \n \n\n1.  Dr \n\n \n\nMedical Director \nRoyal Free Hospital \nPond Street \nLondon  NW3 2QG \n \n\n \nCORONER \n \nI am:   Coroner ME Hassell \n           Senior Coroner  \n           Inner North London \n           St Pancras Coroner’s Court \n           Camley Street \n           London  N1C 4PP \n \n \nCORONER’S LEGAL POWERS \n \nI make this report under the Coroners and Justice Act 2009,  \nparagraph 7, Schedule 5, and  \nThe Coroners (Investigations) Regulations 2013, \nregulations 28 and 29. \n \n \nINVESTIGATION and INQUEST \n \nOn 26 February 2020, I commenced an investigation into the death of \nMalyun Karama, aged 34 years. The investigation concluded at the end \nof the inquest on 12 August 2020. I made a narrative determination at \ninquest, which I attach. \n \n \nCIRCUMSTANCES OF THE DEATH \n \nMalyun Karama died at the Royal Free Hospital from a uterine rupture \ncaused by the administration of misoprostol prescribed to induce labour \nfollowing  a  diagnosis  of  intrauterine  death.    The  misoprostol  was \nadministered  at doses  in  excess  of the  Royal College  of  Obstetricians \nand Gynaecologists national guidelines. \n \n\n \n\n1 \n\n\x0c \nAbnormal observations were relayed by a midwife to a senior registrar, \nbut the doctor failed to attend Ms Karama and instead ordered fluids. \n \nThe uterine rupture would have been life threatening whatever the care \nrendered to Ms Karama, but if the doctor had attended immediately and \nhad  reviewed  and  treated  appropriately,  the  likelihood  is  that  Ms \nKarama’s life would have been saved. \n \n \nCORONER’S CONCERNS \n \nDuring the course of the inquest, the evidence revealed matters giving \nrise to concern. In my opinion, there is a risk that future deaths will occur \nunless  action  is  taken.  In  the  circumstances,  it  is  my  statutory  duty  to \nreport to you. \n \nThe MATTERS OF CONCERN are as follows.  \n \nI  heard  evidence  of  changes  in  systems  at  the  Royal  Free  Hospital \nfollowing  the  events  of  20  February  2020,  including  changing  the \nmisoprostol  dose  protocol  and  making  a  medical  review  mandatory \nbefore each administration to a multi gravida mother. \n \nHowever, the Royal Free has not yet taken any steps to ensure that there \nis learning at a national level of the increased risk of rupture in a multi \ngravida  mother.    The  more  widely  known  increased  risk  is  simply  of \nvaginal birth after caesarean. \n \nAlso, one of the midwives looking after Malyun Karama explained that \nthere was no computer in the delivery suite and so she could not record \nher observations contemporaneously or without leaving the room.  This \nis sub optimal. \n \n \nACTION SHOULD BE TAKEN \n \nIn  my  opinion,  action  should  be  taken  to  prevent  future  deaths  and  I \nbelieve that you have the power to take such action.  \n \n \nYOUR RESPONSE \n \nYou are under a duty to respond to this report within 56 days of the date \nof this report, namely by 19 October 2020.  I, the coroner, may extend \nthe period. \n \nYour  response  must  contain  details  of  action  taken  or proposed  to  be \ntaken, setting out the timetable for action. Otherwise you must explain \nwhy no action is proposed. \n\n \n5 \n\n \n6 \n\n \n7 \n\n \n\n2 \n\n\x0c \n8 \n\n \nCOPIES and PUBLICATION \n \nI have sent a copy of my report to the following. \n \n\n\uf0b7  HHJ Mark Lucraft QC, the Chief Coroner of England & Wales  \n\uf0b7  Mr \n\n, Malyun Karama’s husband \n\n \nI  am  also  under  a  duty  to  send  the  Chief  Coroner  a  copy  of  your \nresponse.  \n \nThe Chief Coroner may publish either or both in a complete or redacted \nor summary form. He may send a copy of this report to any person who \nhe  believes  may  find  it  useful  or  of  interest.  You  may  make \nrepresentations to me, the Senior Coroner, at the time of your response, \nabout  the  release  or  the  publication  of  your  response  by  the  Chief \nCoroner. \n \n \nDATE                                                  SIGNED BY SENIOR CORONER \n \n21.08.20                                              ME Hassell \n \n \n\n \n9 \n\n \n \n \n \n\n \n\n3 \n\n\x0c'